mock
pytest

# namespace test
google-cloud-language
azure-storage-blob

# unicode metadata
python_dateutil

xgboost
prometheus_client
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm==2.3.1
